* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #dab9ff;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap");

/*SPINNER*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*HEADER*/
header {
  height: 112px;
  width: 100%;
  background: black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower", cursive;
  background-image: url("./assets/images/resize-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
}

header h1 {
  font-size: 50px;
  margin: 0;
  background: peachpuff;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}

/*MAIN*/

main,
footer,
.footerContent {
  background: #dab9ff;
}

main {
  width: 70%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
}

/* Top 10 books */

.bookContainer {
  width: 60%;
  height: 60%;
  padding-top: 10px;
  border: 2px solid black;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  background: peachpuff;
  z-index: 10;
}

.bookCover {
  height: auto;
  width: 70%;
  margin-bottom: 10px;
  margin-top: 10px;
  background: white;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid black;
}

.bookTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.bookAuthor {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bookDescription {
  font-size: 16px;
}

/* BUTTONS */

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

button {
  background: peachpuff;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

/*FOOTER*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 12px;
  height: 36px;
}

.footerCredits {
  margin: 0.1em;
}

.footerLogo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footerLink {
  display: flex;
  justify-content: flex-end;
  margin: 0.1em;
}

footer img {
  border-radius: 5%;
  border: 2px solid black;
  margin-right: 0.1em;
  width: 50%;
  height: auto;
}

@media only screen and (min-width: 375px) {
  header {
    height: 92px;
  }
  header h1 {
    font-size: 40px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  main {
    margin-top: 10px;
  }
  header {
    background-image: url("./assets/images/small-header.jpg");
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
  .bookContainer {
    width: 80%;
    padding-top: 30px;
    border: 2px solid black;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
  }
  .bookDescription {
    font-size: 16px;
  }
  .bookCover {
    height: auto;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .header {
    background-image: url("./assets/images/header.jpg");
  }
  .container {
    width: 60%;
  }

  .bookContainer {
    width: 70%;
    max-width: 500px;
  }

  .bookCover {
    width: 70%;
    height: 10%;
  }

  .bookDescription {
    font-size: 18px;
  }

  footer {
    width: 100%;
  }

  footer img {
    width: 80%;
    height: auto;
    margin-right: 0;
  }

  .footerCredits {
    margin: 0.5em;
  }

  .footerLink {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
  }
}
